# Jorge Mariles Estrada A01335663

<a href="https://colab.research.google.com/github/tec03/ParaAssignment01-/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [295]:
import pandas as pd
import numpy as np

In [296]:
df=pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv')
df.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [297]:
df.shape

(30000, 25)

In [298]:
df.isnull().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [299]:
for x in df.columns:
    print(f'nans in {x}:',df.loc[df[x].isna()].shape[0])

nans in ID: 0
nans in X1: 0
nans in X2: 1
nans in X3: 2
nans in X4: 2
nans in X5: 5
nans in X6: 3
nans in X7: 5
nans in X8: 7
nans in X9: 9
nans in X10: 16
nans in X11: 14
nans in X12: 11
nans in X13: 11
nans in X14: 13
nans in X15: 15
nans in X16: 17
nans in X17: 10
nans in X18: 8
nans in X19: 9
nans in X20: 8
nans in X21: 11
nans in X22: 11
nans in X23: 5
nans in Y: 3


Attribute Information:

This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables: \
X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit. \
X2: Gender (1 = male; 2 = female). \
X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others). \
X4: Marital status (1 = married; 2 = single; 3 = others). \
X5: Age (year). \
X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above. \
X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005. \
X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005. \

# Explicacion 
Y tiene valores faltantes, se tiraran todas las filas donde y sea faltante, ya que son solo 3 datos

X1 no tienen valores faltantes. No se les va a hacer ningun tratamiento 

X2 al filtrar Y todos los valores de X2 en nan menos uno tambien son filtrados, se filtrara el valor nulo de x2

X3 Educacion se imputara a otros, solo queda un valor nan 

X4 al filtrar Y y X2 todos los valores de X4 en nan tambien son filtrados

X5 se imputara con la moda, creo es una buena manera de lidear con la edad faltante

X6 - X11 como los valores estan relacionados se filtraran si en la fila en este subset hay amas de 4 valores faltantes y los demas se imputaran con la moda de esa misma fila ya que se tratan de los pagos de ese cliente 

X12-X17 se le aplicara un filtro similar al anterior con un treshhold por fila y luego una imputacion por promedio gastado

X18-X23 misma teoria que de x12-x17

In [300]:
print(df.loc[df.Y.isna()].shape[0])
df=df.dropna(subset=['Y'])
print("nans en Y ", df.Y.isna().any())

3
nans en Y  False

In [301]:
print(df.loc[df.X2.isna()].shape[0])
df=df.dropna(subset=['X2'])
print("nans en X2 ", df.X3.isna().any())

1
nans en X2  True

In [302]:
print(df.loc[df.X3.isna()].shape[0])
df.loc[df.X3.isna()]=4
print("nans en X3 ", df.X3.isna().any())

1
nans en X3  False

In [303]:
print(df.loc[df.X4.isna()].shape[0])
print("nans en X4 ", df.X4.isna().any())

0
nans en X4  False

In [304]:
print(df.loc[df.X5.isna()].shape[0])
df.loc[df.X5.isna()]=int(df.X5.mode())
print("nans en X5 ", df.X5.isna().any())

3
nans en X5  False

In [305]:
print('------------------------------Cant inicial-------------------------------------------')
for x in df.columns[6:12]:
    print(f'nans in {x}:',df.loc[df[x].isna()].shape[0])
print('------------------------------Treshhold-------------------------------------------')

df.dropna(thresh = 4,  
           axis = 0, 
           inplace = True,
           subset=['X6','X7','X8','X9','X10','X11']
           ) 
for x in df.columns[6:12]:
    print(f'nans in {x}:',df.loc[df[x].isna()].shape[0])
print('------------------------------imputacion-------------------------------------------')
# fill with moda de cada cliente en los que sobran 
df.loc[df[['X6','X7','X8','X9','X10','X11']].isna().any(axis=1),['X6','X7','X8','X9','X10','X11']]=df.loc[df[['X6','X7','X8','X9','X10','X11']].isna().any(axis=1)][['X6','X7','X8','X9','X10','X11']].apply(lambda x: x.fillna(x.mode()[0] ) ,axis=1 )
for x in df.columns[6:12]:
    print(f'nans in {x}:',df.loc[df[x].isna()].shape[0])

------------------------------Cant inicial-------------------------------------------
nans in X6: 1
nans in X7: 3
nans in X8: 5
nans in X9: 7
nans in X10: 14
nans in X11: 12
------------------------------Treshhold-------------------------------------------
nans in X6: 0
nans in X7: 0
nans in X8: 2
nans in X9: 4
nans in X10: 11
nans in X11: 9
------------------------------imputacion-------------------------------------------
nans in X6: 0
nans in X7: 0
nans in X8: 0
nans in X9: 0
nans in X10: 0
nans in X11: 0

In [309]:
print('------------------------------Cant inicial-------------------------------------------')
for x in df.columns[12:18]:
    print(f'nans in {x}:',df.loc[df[x].isna()].shape[0])
print('------------------------------Treshhold-------------------------------------------')

df.dropna(thresh = 4,  #if there is not 5 nan values, the column will be eliminated 
           axis = 0, 
           inplace = True,
           subset=['X12','X13','X14','X15','X16','X17']
           ) 
for x in df.columns[12:18]:
    print(f'nans in {x}:',df.loc[df[x].isna()].shape[0])
print('------------------------------imputacion-------------------------------------------')
# fill with moda de cada cliente en los que sobran 
df.loc[df[['X12','X13','X14','X15','X16','X17']].isna().any(axis=1),['X12','X13','X14','X15','X16','X17']]=df.loc[df[['X12','X13','X14','X15','X16','X17']].isna().any(axis=1)][['X12','X13','X14','X15','X16','X17']].apply(lambda x: x.fillna(x.mean() ) ,axis=1 )
for x in df.columns[12:18]:
    print(f'nans in {x}:',df.loc[df[x].isna()].shape[0])

------------------------------Cant inicial-------------------------------------------
nans in X12: 0
nans in X13: 0
nans in X14: 0
nans in X15: 0
nans in X16: 0
nans in X17: 0
------------------------------Treshhold-------------------------------------------
nans in X12: 0
nans in X13: 0
nans in X14: 0
nans in X15: 0
nans in X16: 0
nans in X17: 0
------------------------------imputacion-------------------------------------------
nans in X12: 0
nans in X13: 0
nans in X14: 0
nans in X15: 0
nans in X16: 0
nans in X17: 0

In [310]:
print('------------------------------Cant inicial-------------------------------------------')
for x in df.columns[18:24]:
    print(f'nans in {x}:',df.loc[df[x].isna()].shape[0])
print('------------------------------Treshhold-------------------------------------------')

df.dropna(thresh = 4,  #if there is not 5 nan values, the column will be eliminated 
           axis = 0, 
           inplace = True,
           subset=['X18','X19','X20','X21','X22','X23']
           ) 
for x in df.columns[18:24]:
    print(f'nans in {x}:',df.loc[df[x].isna()].shape[0])
print('------------------------------imputacion-------------------------------------------')
# fill with moda de cada cliente en los que sobran 
df.loc[df[['X18','X19','X20','X21','X22','X23']].isna().any(axis=1),['X18','X19','X20','X21','X22','X23']]=df.loc[df[['X18','X19','X20','X21','X22','X23']].isna().any(axis=1)][['X18','X19','X20','X21','X22','X23']].apply(lambda x: x.fillna(x.mean() ) ,axis=1 )
for x in df.columns[18:24]:
    print(f'nans in {x}:',df.loc[df[x].isna()].shape[0])

------------------------------Cant inicial-------------------------------------------
nans in X18: 0
nans in X19: 0
nans in X20: 0
nans in X21: 0
nans in X22: 0
nans in X23: 0
------------------------------Treshhold-------------------------------------------
nans in X18: 0
nans in X19: 0
nans in X20: 0
nans in X21: 0
nans in X22: 0
nans in X23: 0
------------------------------imputacion-------------------------------------------
nans in X18: 0
nans in X19: 0
nans in X20: 0
nans in X21: 0
nans in X22: 0
nans in X23: 0

# Preguntas
<ol start="1">
  <li>Â¿QuÃ© datos considero mas importantes? Â¿Por quÃ©?</li>
  <ul>Todos los que tenian que ver con los pagos en los ultimos meses los considere importante ya que estan relacionados </ul>
  <li>Â¿Se eliminaron o reemplazaron datos nulos? Â¿QuÃ© se hizo y por quÃ©?</li>
  <ul>lo que se hizo y su razon estan en el apartado de explicacion en la parte superior del notebook </ul>
  <li>Â¿Es necesario ordenar los datos para el anÃ¡lisis? SÃ­ / No / Â¿Por quÃ©?</li>
  <ul>Depende si es un problema donde el orden sea importante, por ejemplo en este caso el orden de los pagos por mes es importante </ul>

  <li>Â¿Existen problemas de formato que deban solucionar antes del proceso de modelado? SÃ­ / No / Por quÃ©.</li>
  <ul>Creo las columnas de los pagos del mes son confusas pero no se me ocurre una mejor representacion</ul>

  <li>Â¿QuÃ© ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?</li>
  <ul>Tambien se explica en el apartado de explicacion</ul>
</ol>