# Jorge Mariles Estrada A01335663

<a href="https://colab.research.google.com/github/tec03/ParaAssignment01-/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python for Data Science (IBM) Modulo 4

### Lab reading files

In [7]:
#Uncomment these if working locally, else let the following code cell run.

import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/dat_sem2/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

#Download Example file
!wget -O /resources/dat_sem2/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/dat_sem2/example1.txt

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [13]:
# Read the Example1.txt
example1 = "dat_sem2/Example1.txt"
file1 = open(example1, "r")

In [14]:
# Print the path of file

file1.name

'data/Example1.txt'

In [15]:

file1.mode

'r'

In [16]:

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [18]:

print(FileContent)
type(FileContent)

This is line 1
This is line 2
This is line 3

str

In [19]:
file1.close()

In [23]:
with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)
file1.closed
print('--------------')
print(FileContent)

This is line 1
This is line 2
This is line 3
--------------
This is line 1
This is line 2
This is line 3

In [24]:
with open(example1, "r") as file1:
    print(file1.read(4))

This

In [25]:
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [26]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [27]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [28]:
with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

This is line 1

This is line 2
This

In [31]:
# Iterate through the lines

with open(example1,"r") as file1:

        for i,line in enumerate(file1):
            print("Iteration", str(i), ": ", line)

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [34]:

with open(example1, "r") as file1:
    FileasList = file1.readlines()
FileasList[0]

'This is line 3'

### lab write files

In [35]:
# Write line to file
exmp2 = 'dat_sem2/Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [36]:

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [39]:

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [42]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
with open('dat_sem2/Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)
with open('dat_sem2/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A

This is line B

This is line C

This is line A
This is line B
This is line C

In [47]:
with open('dat_sem2/Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('dat_sem2/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

In [48]:
with open('dat_sem2/Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")
with open('dat_sem2/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

In [49]:
with open('dat_sem2/Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [50]:
with open('dat_sem2/Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 32
Read nothing

New Location : 0
This is line A
This is line B

Location after read: 32

In [55]:
with open('dat_sem2/Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

In [60]:
with open('dat_sem2/Example2.txt','r') as readfile:
    with open('dat_sem2/Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)
with open('dat_sem2/Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

#### exercises

In [90]:
from random import randint as rnd

memReg = 'data_sem2/members.txt'
exReg = 'data_sem2/inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [91]:
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
    with open (currentMem,'r+') as readFile:
        members=readFile.readlines()
        readFile.seek(0,0)
        readFile.write(members[0])
        inactive=[]
        for member in members[1:]:
            if 'no' in member:
                inactive.append(member)
            else:
                readFile.write(member)
        readFile.truncate()
    with open (exMem,'a+') as readFile:
        for x in inactive:
            readFile.write(x)


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'data_sem2/members.txt'
exReg = 'data_sem2/inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    64133      2015-11-24   yes
    82541      2018-4-22    yes
    95108      2016-1-17    yes
    21109      2018-11-10   yes
    96052      2015-4-16    yes
    43283      2017-11-25   yes
    24985      2016-7-6     yes
    91192      2018-8-25    yes
    84892      2017-11-8    yes
    79703      2018-11-9    yes
    34148      2015-8-18    yes

Inactive Members:


Membership No  Date Joined  Active
    69217      2019-8-4     no
    43505      2015-5-19    no
    41867      2020-3-25    no
    45366      2018-5-14    no
    43606      2015-8-11    no
    60176      2015-11-10   no
    97825      2017-3-10    no
    50305      2018-3-1     no
    37488      2020-11-3    no
    88916      2016-8-8     no
    94131      2017-11-8    no
    93755      2017-10-1    no

In [93]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "data_sem2/testWrite.txt"
testAppend = "data_sem2/testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

### Load and view data

In [101]:
import pandas as pd

In [102]:
csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)

In [103]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [108]:
xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'
df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [109]:
x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [110]:
x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [111]:
y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [112]:

df.iloc[0, 0]

'Michael Jackson'

In [113]:
df.iloc[1,0]

'AC/DC'

In [114]:
df.iloc[0,2]

1982

In [115]:
df.iloc[1,2]

1980

In [116]:
df.loc[1, 'Artist']

'AC/DC'

In [118]:
df.loc[0, 'Released']

1982

In [119]:
df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [120]:
df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

In [122]:
q=df['Rating']
q

0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5
Name: Rating, dtype: float64

In [124]:
q=df[['Released','Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [126]:
q=df.iloc[1,2]
q

1980

In [132]:
new_index=['a','b','c','d','e','f','g','h']
df_new=df
df_new['new_index']=new_index
df_new=df_new.set_index('new_index')
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

new_index
a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object